* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fdba74;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    font-size: 20px;
}
#header {
    display: flex;
    gap: 100px;
    padding-bottom: 20px;
    cursor: pointer;
}
.image {
    display: flex;
    align-items: flex-end;
}
#main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
button {
    background-color: #e11d48;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}
#tasks {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-wrap: wrap;
    width: 566px;
}
#tasks > * {
    box-shadow: 0px 10px 1px -1px rgb(0 0 0 / 30%);
}
#search {
    display: flex;
    height: 39px;
    gap: 5px;
}
#search button:last-child {
    width: 65px;
    display: flex;
align-items: center;
    justify-content: center;
}
#dialog {
    position: relative;
    width: 546px;
    margin-left: 708px;
    margin-top: 152px;
}
input[type=text] {
    font-size: 20px;
}
.text {
    font-size: 25px;
}
label {
  padding-bottom: 10px;
  padding-top: 10px;
}
input[class=form] {
    padding: 12px 9px;
}
input:focus {
    background-color: #f7fee7;
}
form {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    height: 663px;
}
.buttons {
    display: flex;
    flex-direction: row-reverse;
}
.buttons, #checklist {
    padding-top: 20px;
}
#checklist {
    display: flex;
    gap: 20px;
    
}
option {
    font-size: 20px;
    display: flex;
    cursor: pointer;
}
option:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}
select {
    padding: 12px 9px;
    background-color: #fff;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}
option#priority1 {
    background: rgba(255, 0, 0, 0.527);
}
option#priority2 {
    background: rgba(255, 145, 0, 0.527);
}
option#priority3 {
    background: rgba(157, 255, 0, 0.527);
}
option#priority4 {
    background: rgba(0, 102, 255, 0.527);
}
button#confirmEdit {
    display: none;
}